<header>
    <h1>Senior Citizen Facility</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/floors">Manage Floors</a></li>
            <li><a href="/rooms">Manage Rooms</a></li>
            <li><a href="/residents">Manage Residents</a></li>
        </ul>
    </nav>
</header>